# AOC D2

## Part one

7 6 4 2 1

1 2 7 8 9

9 7 6 2 1

1 3 2 4 5

8 6 4 4 1

1 3 6 7 9

This example data contains six reports each containing five levels.

The engineers are trying to figure out which reports are safe. The Red-Nosed reactor safety systems can only tolerate levels that are either gradually increasing or gradually decreasing. So, a report only counts as safe if both of the following are true:

The levels are either all increasing or all decreasing.
Any two adjacent levels differ by at least one and at most three.
In the example above, the reports can be found safe or unsafe by checking those rules:

7 6 4 2 1: Safe because the levels are all decreasing by 1 or 2.
1 2 7 8 9: Unsafe because 2 7 is an increase of 5.
9 7 6 2 1: Unsafe because 6 2 is a decrease of 4.
1 3 2 4 5: Unsafe because 1 3 is increasing but 3 2 is decreasing.
8 6 4 4 1: Unsafe because 4 4 is neither an increase or a decrease.
1 3 6 7 9: Safe because the levels are all increasing by 1, 2, or 3.
So, in this example, 2 reports are safe.

Analyze the unusual data from the engineers. How many reports are safe?

In [282]:
import pandas as pd
import numpy as np

In [283]:
#Using list since there are different number of columns

#with open('data/AOC_2.csv', 'r') as f:
#    data = [line.strip().split() for line in f]

with open('data/AOC_2.csv', 'r') as f:
    data = [[int(num) for num in line.strip().split()] for line in f]

In [284]:
#Check data
data[0]

[62, 65, 67, 70, 73, 76, 75]

In [285]:
#loop over rows and check criteria
count = 0
for row in data:
    for i in range(len(row) - 1):
        if row[1]-row[0] > 0:
            if 1 > row[i+1] - row[i] or row[i+1] - row[i] >3:
                break
        elif row[1]-row[0] < 0:
            if 1 > row[i] - row[i+1] or row[i] - row[i+1] >3:
                break
        else:
            break
        if i == len(row) - 2:
            count += 1

In [286]:
count

383

## Part two

The engineers are surprised by the low number of safe reports until they realize they forgot to tell you about the Problem Dampener.

The Problem Dampener is a reactor-mounted module that lets the reactor safety systems tolerate a single bad level in what would otherwise be a safe report. It's like the bad level never happened!

Now, the same rules apply as before, except if removing a single level from an unsafe report would make it safe, the report instead counts as safe.

More of the above example's reports are now safe:

7 6 4 2 1: Safe without removing any level.

1 2 7 8 9: Unsafe regardless of which level is removed.

9 7 6 2 1: Unsafe regardless of which level is removed.

1 3 2 4 5: Safe by removing the second level, 3.

8 6 4 4 1: Safe by removing the third level, 4.

1 3 6 7 9: Safe without removing any level.
    
Thanks to the Problem Dampener, 4 reports are actually safe!

Update your analysis by handling situations where the Problem Dampener can remove a single level from unsafe reports. How many reports are now safe?

In [356]:
#Solution number 1 with recursive, but I needed to check additional 3 scenarious

def check_row(row, c=0, dampener=0):
    for i in range(len(row) - 1):
        if row[1]-row[0] > 0:
            if 1 > row[i+1] - row[i] or row[i+1] - row[i] >3:
                break
        elif row[1]-row[0] < 0:
            if 1 > row[i] - row[i+1] or row[i] - row[i+1] >3:
                break
        else:
            break
        if i == len(row) - 2:
            c = 1
    if c == 0 and dampener == 0:
        #print("here")
        #print(row[:i] + row[i+1:])
        #print(i)
        c = check_row(row[:i] + row[i+1:], c, dampener= 1)
        if c == 0:
            c = check_row(row[:i+1] + row[i+2:], c, dampener= 1)
        if c == 0:
            c = check_row(row[:i-1] + row[i:], c, dampener= 1)
    return c

In [357]:
data[24]

[27, 24, 25, 26, 28, 31, 34]

In [359]:
count = 0
l_r=[]
for row in data:
    dampener = 0
    count += check_row(row)
    l_r.append(check_row(row))
print(count)

436

In [338]:
# use this code to chack all possible combinations

count = 0
l = []
for row in data:
    for j in range(len(row)):
        r = row[:j] + row[j+1:]
        c = 0
        for i in range (len(r) - 1):
            if r[1]-r[0] > 0:
                if 1 > r[i+1] - r[i] or r[i+1] - r[i] >3:
                    break
            elif r[1]-r[0] < 0:
                if 1 > r[i] - r[i+1] or r[i] - r[i+1] >3:
                    break
            else:
               break
            if i == len(r) - 2:
                count += 1
                c = 1
        if c == 1:
            break
    l.append(c)
print(count)

436

In [341]:
df = pd.DataFrame({'Column1': l, 'Column2': l_r})

In [342]:
df

     Column1  Column2
0          1        1
1          1        1
2          1        1
3          1        1
4          0        0
..       ...      ...
995        1        1
996        1        1
997        1        1
998        1        1
999        1        1

[1000 rows x 2 columns]

In [343]:
df[df.Column1 != df.Column2]

     Column1  Column2
24         1        0
272        1        0
540        1        0